* {
    box-sizing: border-box;
  }
  
  html {
    font-family: "Inter", sans-serif;
  }
  body {
    margin: 0;
  }  


.fullscreen .fullscreen__baloons {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    right: 0;
    overflow: auto;
    background: #1B1C1F;
    cursor: url(resources/nova-star.svg), auto;
  }

.title {
  position: fixed;
  justify-content: center;
  width: 100%;
}

.title__content {
  height: 100%;
  width: 100%;
  display:flex;
  align-items: top;
  justify-content:space-between;
  gap: 8px;
  padding: 32px;
}

.module {
  overflow: visible;
  position: relative;
}

h1 {
  font-weight: 400;
  color:aliceblue;
  margin: 0%;
  font-size: 24px;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  color:aliceblue;
  margin: 0%;
}

p {
  font-size: 14px;
  font-weight: 400;
  color:aliceblue;
  margin: 0%;
}

a {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .04rem;
  color:#7F86BB;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer__content {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 32px;
  padding: 32px;
}

a {
  position: relative;
  text-decoration: none;
}

a:hover {
  color: #E4FA16; 
}
