* {
    box-sizing: border-box;
  }
  
  html {
    font-family: "Source Code Pro", monospace;
  }
  body {

    margin: 0;
  }  

h1 {
  font-weight: 400;
  color:aliceblue;
  margin: 0%;
  font-size: 24px;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color:aliceblue;
  margin: 0%;
}

p {
  font-size: 14px;
  font-weight: 400;
  color:aliceblue;
  margin: 0%;
}

a {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .04rem;
  color:#7F86BB;
  margin: 0;
  position: relative;
  text-decoration: none;
}

a:hover {
  color: #E4FA16; 
}


.hero {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  height: 100vh;
  background-color:#0D1116;
}

.hero__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.hero__title--content {
  display: flex;   
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 120px;
}

  
.hero__planets {
  cursor: url(/resources/nova-star.png) 16 16, auto;
  position: absolute;
  display: flex;
  width: 100%;
  height:100%;
  z-index: 20;
}

.module {
  overflow: visible;
  position: relative;
}


.info {
  display: flex;
  z-index: 30;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(13, 17, 22, 0.01);
  backdrop-filter: blur(50px);
}

.info__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  gap: 32px;
}


.info__content--contact {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 56px;
  min-width: 380px;
}


.info__content--about {
  width: 50%;
  display: flex;
  font-size: 12px;
  opacity: 70%;
}

.info__content--about p {
  font-size: 12px;
  line-height: 150%;
}


.projects {
  height: 560px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  background-color: #7F86BB;
}

.projects__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.projects__content__star {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.star-img {
  width: 32px;
  height: 32px;
  display: block;
  margin: auto;
}

.star-img:hover {
  animation: rotate 1s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.projects__content p{
  color: black;
}


/* Mobile tweaks */
@media (max-width: 768px) {

  body {
    margin: 0;
  }  

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 14px;
  }

  p,a {
    font-size: 12px;
  }

  .info__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 32px;
  }

  .info__content--contact {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .info__content--about {
    width: 100%;
    gap: 0px;
  }

  .projects {
    height: 400px;
  }
}
