* {
    box-sizing: border-box;
  }
  
  html {
    font-family: "Inter", sans-serif;
  }
  body {
    margin: 0;
  }  

h1 {
  font-weight: 400;
  color:aliceblue;
  margin: 0%;
  font-size: 24px;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  color:aliceblue;
  margin: 0%;
}

p {
  font-size: 14px;
  font-weight: 400;
  color:aliceblue;
  margin: 0%;
}

a {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .04rem;
  color:#7F86BB;
  margin: 0;
}


.header {
  position: fixed;
  z-index: 1000;
  justify-content: center;
  width: 100%;
  
}

.header__content {
  height: 100%;
  width: 100%;
  display:flex;
  align-items: top;
  justify-content:space-between;
  gap: 8px;
  padding: 32px;
}


.hero {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  height: 100vh;
  pointer-events: none;
  background-color:#1C1E26;
}

.info {
  display: flex;
  z-index: 10;
  pointer-events: auto; 
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(50px);
}

.hero__planets {
  pointer-events: auto; 
  position: absolute;
  display: flex;
  width: 100%;
  height:100%;
  z-index: 0;
  cursor: url(/resources/nova-star.svg), auto;
}



.module {
  overflow: visible;
  position: relative;
}

.projects {
  height: 560px;
  width: 100%;
  background-color: #7F86BB;
}


.info__content {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 64px;
  padding: 32px;
}

a {
  position: relative;
  text-decoration: none;
}

a:hover {
  color: #E4FA16; 
}


/* Mobile tweaks */
@media (max-width: 768px) {

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 14px;
  }

  p,
  a {
    font-size: 12px;
  }


  .projects {
    height: 100vh;
  }
}
